<div class="container-fluid">
    <div class="navbar row">
        <div class="col-7"></div>
        <a class="nav-link btn btn-info col-3" href="/events">Events Dashboard</a>

        <% if current_user %>
            <form class="col-2" action="/sessions/<%=current_user.id%>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" class="btn btn-info" value="Log Out">
            </form>
        <% end %> 
    </div>
    <div class="row">
        <div class="col-6">
            <h1>Edit your event: </h1>
            <form action="/events/<%= @event.id %>" method="post">
                <input class="form-control" name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <input type="hidden" name="_method" value="patch">
                <div class="form-group">
                    <label for="Name">Name: </label>
                    <input type="text" class="form-control" id="Name" name="event[name]" value="<%= @event.name %>">
                </div>
                <div class="form-group">
                    <label for="Date">Date: </label>
                    <input type="date" class="form-control" id="Date" name="event[date]" value="<%= @event.date %>">
                </div>
                <div class="form-group">
                    <label for="City">Location:</label>
                    <input class="form-control" type="text" id="City" name="event[city]" value="<%= @event.city %>">
                    <select class="form-control" name="event[state]" id="State">
                        <option disabled selected value="<%= @event.state %>"><%= @event.state %></option>
                        <option value="TX">TX</option>
                        <option value="WA">WA</option>
                        <option value="NY">NY</option>
                    </select>
                </div>
                <input type="submit" class="btn btn-primary float-right" value="Update Event">
            </form>
        </div>
        <div class="col-3">
            <% if flash[:errors] %>
                <% flash[:errors].each do |error| %>
                    <div class="row">
                        ***<%= error %>***
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>